.formulario-cliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    font-family: var(--fonte-principal);
}

.formulario {
    display: flex;
    gap: 100px;
    margin-bottom: 80px;
    margin-left: 300px;
    font-family: var(--fonte-principal);
}
formulario_S{
	display: flex;
	
}

.coluna {
    display: flex;
    flex-direction: column;
}

.coluna h3 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
}
.separador{
    height: 550px;
    margin: 20px;
}
label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}
.titulo_formulario{
    font-size: 28px;
    margin-bottom: 10px;
}

.campo_digitacao {
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color: #f2d6d6;
}
.campo_digitacao_grande {
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color: #f2d6d6;
}

.linha {
    display: flex;
    gap: 10px;
    margin-top: 27px;
}

.metade input,
.numero input {
    width: 120px;
	margin-right: 5px;
}

.numero input {
    width: 50px;
}

.botoes {
    display: flex;
    gap: 200px;
	margin-top: 500px;
    width: 600px;
    height: 200px;
	position: absolute;
	top: 300px;
	left: 700px;
}
.cancelar{
    text-decoration: none;
    height: 100px;
    width: 200px;
}
.cadastrar{
    height: 100px;
    width: 200px;
    text-decoration: none;
}
button {
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    background-color: #d3d3d3;
    cursor: pointer;
    font-size: 20px;
    
}

button:hover {
    opacity: 0.8;
    color: #7C1F1F;
}
select {
    width: 340px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    background-color: #f2d6d6;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 14px;
    margin-bottom: 20px;
    background-image: url(../img/poligono.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 16px;
    background-position: 310px;
}

select:focus {
    outline: none;
    box-shadow: 0 0 5px #999;
}
campo_imagem{
	margin: 20px;
}

.error {
    grid-column: span 2;
    color: red;
    font-size: 0.9em;
    margin-top: -8px;
    margin-bottom: 8px;
}
.butcad{
	font-size: 15px;
	margin-top: -20px;
	margin-left: -10px; 
	width:300px; 
	background-color: white; 
	text-align: justify;
	padding:0, 0, 0, 0;
	color: #AF1F1F;
}
#modalDialogCat{
	height: 225px;
	width: 420px;
	border: solid;
	border-color: #9F1F1F;
	border-radius: 10px;
	font-family: var(--fonte-principal);
	
}
#modalDialogMarca{
	height: 225px;
	width: 420px;
	border: solid;
	border-color: #9F1F1F;
	border-radius: 10px;
	font-family: var(--fonte-principal);
	
}
h2{
	font-size:26.5px;
	font-weight: 900px;
	margin-bottom: 40px;
	text-align: center;
}
#nomeCatModal{
	width: 320px;
	height: 40px;
	margin-left: 40px;
	margin-bottom: 10px;
	
}
#nomeModal{
	width: 320px;
	height: 40px;
	margin-left: 40px;
	margin-bottom: 10px;
}
.botoespop{
	display:flex;
	position:relative;
	height: 30px;
	margin-top: 30px;
	gap: 60px;
	margin-left: 45px;
}
.cadastrarpop{
	display:flex;
	position:relative;
	height: 50px;
	width: 135px;
	font-size: 15px;
	padding: 15px;
}
.fecharpop{
	display:flex;
	position:relative;
	height: 50px;
	width: 135px;
	font-size: 15px;
	padding: 15px;
}