<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZTech Pro - Sistema de Gestão Empresarial</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <style>
        /* CSS Básico para funcionar */
       
        .error { color: #D8000C; background-color: #FFBABA; border: 1px solid #D8000C; padding: 10px; border-radius: 4px; margin-top: 1rem; }
    </style>
</head>
<body>

    <div class="modal-content" style="">
		<h2 style="margin-bottom: 25px; text-align: center;">Autenticação em dois fatores</h2>
			            <div class="form-group">
							<p style="text-align:center; margin-bottom: 15px;">Um código foi enviado para o email cadastrado. Por favor, digite-o no campo.</p>

        <div th:if="${param.error}" class="error">
            Código inválido ou expirado. Tente novamente.
        </div>

        <form th:action="@{/verificar-otp}" method="post" class="form-group">
            <div class="form-group">
                <label for="otp">Código de Verificação</label>
                <input type="text" id="otp" name="otp" maxlength="6" class="action-btn btn-primary" required autofocus 
                       pattern="\d{6}" title="O código deve ter 6 números."/>
            </div>
            
            <button class="action-btn btn-primary" type="submit">Verificar</button>
        </form>
    </div>

</body>
</html>