.barra {
    width: 10%;
    background-color: #7C1F1F;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.opcao_lista{
    list-style-type: none;
    padding-top: 30%;
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-family: var(--fonte-principal);
}
.link_lista{
    text-decoration: none;
    color: aliceblue;
	font-weight: 550; /* um pouco menos que o Negrito */
}
.link_lista_atual{
    text-decoration: none;
    color: black;
	font-weight: 550; /* um pouco menos que o Negrito */
}